.Footer {
	height: var(--banner-size);
	background-color: black;
	margin-top: auto;
	color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
}
